body {
background-image: url('background.jpg');
background-size: cover;
background-repeat: no-repeat;
background-color: #FEC404;
font-family: sans-serif;

}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}


.normal-link{
background: #237E7C;
border: 2px solid #4CAF50; /* Green */
height:50px;
width:105px;
font-size: 15px;

}

.normal-link:hover{
/*border: 2px solid #FEC404; /* Green */
background: #FEC404;
-webkit-animation: rotation 2s;
}


.normal-link:active{
/*border: 2px solid #FEC404; /* Green */
background: #FEC404;
}

.menu{
  text-align: center;

}

.titulo{
  text-align: center;
  color: black;
  font-size: 50px;
  /*subrayado arriba el de abajo se llama underline*/
  text-decoration: overline;

}

.logo{
  position:fixed;
width:300px;
height:300px;
left:50%;
top:50%;
margin-left:-150px;
margin-top:-30px;
}
